{% extends "base.html" %}
{% block title %}Smartninja homepage{% endblock title %}
{% block content %}
    <h1>Hello, SmartNinja!</h1>
    <img src="/img/test64px.png"/>

    <h2>{{ title }}</h2>
    {% if number > 1 %}
        <p>Danas imamo nadoknadu</p>
    {% else %}
        <p>Danas nema nadoknade</p>
    {% endif %}
    <p>Broj predavanja danas: {{ number }}</p>
    <form method="post">
        <input type="text" name="text_input" placeholder="Naslov" />
        <input type="text" name="number_input" placeholder="Broj" />
        <input type="submit" value="Submit" />
    </form>
{% endblock content %}
