#menu-section {
  background-color: #D72520;
}
body {
  background-color: #e6f2ff;
}
h2 {
  color: #D72520;
}
h3 {
  color: #1785B8;
}
h4 {
  color: #1785B8;
}
.footer-div {
  float: right;
  padding-top: 100px;
}
#vise{
  background-color: #1785B8;
  color: #ffffff;
  padding: 4px 6px 4px 6px;
}
#karusel{
  margin-top: 2px;
  padding-top: 2px;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;
}
#head-logo{
  height: 70px;
  width: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
img {
		max-width: 100%;
		height: auto;
	}
  .video {

      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
      width: 80%;
      margin: 1%;
      height: 100%
      float: left;
    }
    .video figure {
    height: 0;
    padding-bottom: 60%;

    @media (max-width: 1366px) {
    .video {
      width: 23%;
    }
  }

    .video img {
    width: 100%;
    opacity: 1;
  }
  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }
